html {
  scroll-behavior: smooth;
}

body {
  height: 1075px;
  font-family: "B612 Mono", monospace;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: -1%;
  right: 1%;
}

.icon {
  font-size: 2em;
  padding: .5em;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: -1%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5vh;
}

.header img {
  width: 30vh;
  border-radius: 50%;
  border: double yellow .3em;
  padding: .25em;
  -webkit-text-decoration: double;
          text-decoration: double;
}

.header h2 {
  max-width: 79vw;
  text-align: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

button {
  font-family: "B612 Mono", monospace;
  background-color: transparent;
  outline: none;
  height: 3em;
  width: 12em;
  border: solid 2px black;
  border-radius: 8px;
  margin: .5em;
}

#bio {
  border: solid 2px red;
  color: red;
}

#about {
  border: solid 2px orange;
  color: orange;
}

#skills {
  border: solid 2px green;
  color: green;
}

#projects {
  border: solid 2px blue;
  color: blue;
}

#contact {
  border: solid 2px purple;
  color: purple;
}

.pop-up {
  margin: auto;
  text-align: center;
  font-size: 16px;
  margin-top: 3em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50vw;
      flex-basis: 50vw;
  max-width: 62.5vw;
  border: double yellow .3em;
  padding: 1em;
  -webkit-text-decoration: double;
          text-decoration: double;
  border-radius: 8px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form #submit {
  min-width: 9em;
  height: 3em;
  border: solid 2px #393636;
  border-radius: 8px;
  margin: .5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: transparent;
}

form #submit:hover {
  border: solid 2px transparent;
  -o-border-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Rainbow-gradient-fully-saturated.svg/768px-Rainbow-gradient-fully-saturated.svg.png);
     border-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Rainbow-gradient-fully-saturated.svg/768px-Rainbow-gradient-fully-saturated.svg.png);
}

input {
  min-width: 50vw;
  height: 3em;
  border: solid 2px black;
  border-radius: 8px;
  margin: .5em;
  padding: .5em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
  }
  icon {
    font-size: 1.5em;
  }
  .header h1 {
    max-width: 70vw;
    text-align: center;
  }
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */