
@mixin flex($dir, $just, $align) {
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align
}

html {
    scroll-behavior: smooth;
}

body {
    height: 1075px;
}

.toggle {
    @include flex(row, flex-end, center);
    position: fixed;
    height: -1%;
    right: 1%
}

.icon {
    font-size: 2em;
    padding: .5em;
}

.icons {
    @include flex(row, flex-start, center);
    position: fixed;
    height: -1%;

}

.header {
    @include flex(column, flex-start, center);
    padding-top: 5vh;
    img {
        width: 30vh;
        border-radius: 50%;
        border: double yellow .3em;
        padding: .25em;
        text-decoration: double;
    
    }
}

.buttons{
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    margin-bottom: 3em;
}

button {
    background-color: transparent;
    outline: none;
    height: 3em;
    width: 12em;
    border: solid 2px black;
    border-radius: 8px;
    margin: .5em
}


#bio {
    border: solid 2px red;
    color: red;
}

#about {
    border: solid 2px orange;
    color: orange;
    
}

#skills {
    border: solid 2px green;
    color: green;
    
}

#projects {
    border: solid 2px blue;
    color: blue;
    
}

#contact {
    border: solid 2px purple;
    color: purple;

}

.pop-up {
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 3em;
    flex-grow: 1;
    flex-basis: 50vw;
    max-width: 62.5vw;
    border: double yellow .3em;
    padding: .25em;
    text-decoration: double;
    border-radius: 8px;
}

form {
    @include flex(column, space-around, center);
    #submit {
        min-width: 9em;
        // outline: none;
        height: 3em;
        border: solid 2px black;
        border-radius: 8px;
        margin: .5em;
        align-self: center;
    
    }
}

input {
    min-width: 50vw;
    // outline: none;
    height: 3em;
    border: solid 2px black;
    border-radius: 8px;
    margin: .5em

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .icons {
        @include flex(column, flex-start, flex-start);
        position: fixed;
    }
    icon {
        font-size: 1.5em;
        // padding: .25em;
    }

    .buttons {
        @include flex(column, space-around, center);

    }
}
